.features-section{
    margin-top: 140px !important;
    
}
.features-section h5{
    color: #db0d4c !important;
    font-weight: 700 !important;
}
.features-section h2{
    color: #c4cfde !important;
    font-size: 56px !important;
    font-weight: 700;
}
.features-section p{
    margin-top: 20px !important;
}
.features-section .cards{
    background-color: #202226;
    padding: 20px 40px !important;
    margin-top: 20px !important;
    height: 300px;
    border-radius: 20px;
    color: #c4cfde !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    text-align: left;
    position: relative;
    margin: 6px !important;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    box-shadow: rgba(228, 89, 89, 0.1) 0px 4px 12px ;
    cursor: pointer;
    
}

.features-section .cards:hover:before{
    content: '';
    position: absolute;
    margin-left: 0px;
    width: 250px;
    height: 200%;
    background: linear-gradient(#00ccff, #db0d4c);
    animation: animate 4s linear infinite;
    opacity: 1;
}

    

.features-section .cards:hover:after{
    content: '';
    position: absolute;
    inset: 4px;
    background: #202226;
    z-index: 1;
    

}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(350deg);
    }
}
#icone_features{
    color: #db0d4c !important;
    font-size: 50px !important;
    margin-bottom: 20px !important;
    z-index: 2 !important;
}
.features-section .cards h3,p{
    z-index: 2 !important;
}
#modal {
    width: 80%;
}
#modal img{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    border: 4px solid rgba(238, 59, 59, 0.374) !important;
    
}
#modal2{
    width: 100%;
    padding-left: 8% !important;
    padding-right: 8% !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.modal2-container {
    margin-top: 200px !important;
    width: 100%;
}
.modal-content{
    background-color: transparent;
    width: 100%;
}